:root{
    --vermelho: #E9190F;
    --laranja:#f5540e;
    --mostarda:#E67F0C;
    --amarelo:#fbbc35;
}
*{
    padding: 0;
    margin: 0 auto;

}
img{
    width: 100px;
    height: 57px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

body{
    width: 320px;
    height: 676px;
    background: var(--amarelo);
}



/*-----------------------Header-----------------------------*/
.container{
    left: -2px;
    width: 320px;
    position: absolute;
}

.logo{
    
    z-index: 3;
    height: 92px;
    background:var(--vermelho);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
}
.logo h2{
    position: absolute;
    color: var(--amarelo);
    font-size: 28px;
    top: 16px;
    left: 26px;
    font-weight: bolder;
}
.logo h1{
    position: absolute;
    color: var(--amarelo);
    font-size: 28px;
    top: 16px;
    left: 152px;
    font-weight: bolder;
}
i{
    position: absolute;
    top: 56px;
    font-size: 16px;
    left: 29px;
}
.logo a{
    position: absolute;
    top: 54px;
    font-size: 14px;
    left: 49px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    
}
.logo a:hover{
    cursor: pointer;
}

/*-----------------------Main-----------------------------*/

main{
    width: 320px;
    position: absolute;
    top: 115px;
}


.salgados {
    display: flex;
    margin: 0px 10px;
    width: 320px;
    overflow-x: auto;
}
.box{
    min-width: 93px;
    height: 130px;
    flex-shrink: 0;
    border: 1px solid rgba(128, 128, 128, 0.451);
    padding: 5px 3px;
    align-items: center;
    margin-right: 10px;
    border-radius: 6px;
    margin-top: 10px;
    background-color: var(--vermelho);
}

.salgados h3{
    position: absolute;
    left: 16px;
    top: -16px;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.636);

}
h4{
    padding: 5px -9px;
    font-size: 14px;
    text-align-last: center;
    font-weight: bolder;
    color: var(--amarelo);
}
p{
    padding: 4px 5px;
    font-size: 14px;
    color: white;
}
h6{
    padding: 5px 10px;
    font-size: 14px;
    color: white;
}

/*-----------------------Bebidas-----------------------------*/
.bebidas{
    display: flex;
    margin: 17px 10px;
    width: 320px;
    overflow-x: auto;
}
.bebidas h3{
    position: absolute;
    top: 156px;
    left: 18px;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.636);
}

/*-----------------------Sobremesa-----------------------------*/

.doces{
    display: flex;
    margin: 17px 10px;
    width: 320px;
    overflow-x: auto;
}
.doces h3{
    position: absolute;
    top: 328px;
    left: 18px;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.636);
}

/*-----------------------Footer-----------------------------*/

footer{
    width: 100%;
    height: 48px;
    flex-shrink: 0;
    background-color: var(--vermelho);
    bottom: 0px;
    text-align: center;
    position: fixed;
    left: 0;
    z-index: 2;
    
}
footer button{
    width: 189px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--amarelo);
    color: white;
    border: none;
    position: absolute;
    left: 90px;
    top: 7px;
    padding: 5px 10px;
    font-size: 12px;
}
