:root{
    --vermelho: #E9190F;
    --laranja:#f5540e;
    --mostarda:#E67F0C;
    --amarelo:#fbbc35;
}
*{
    padding: 0;
    margin: 0 auto;

}
img{
    width: 134px;
    height: 87px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

body{
    width: 414px;
    height: 1026px;
    background: var(--amarelo);
}



/*-----------------------Header-----------------------------*/


.logo{
    
    
    height: 92px;
    background:var(--laranja);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: left;
    position: fixed;
    width: 414px;
    top: 0;
    left: 0;
    
}
.logo h2{
    position: absolute;
    color: var(--amarelo);
    font-size: 28px;
    top: 16px;
    left: 26px;
    font-weight: bolder;
}
.logo h1{
    position: absolute;
    color: white;
    font-size: 28px;
    top: 16px;
    left: 57px;
    font-weight: bolder;
}
.logo a{
    position: absolute;
    top: 59px;
    font-size: 14px;
    left: 29px;
    text-decoration: none;
    font-weight: bold;
    color: var(--amarelo);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.369);
    
}
.logo a:hover{
    cursor: pointer;
}

/*-----------------------Main-----------------------------*/

main{
    width: 414px;
    position: absolute;
    top: 115px;
}


.salgados {
    display: flex;
    margin: 0px 10px;
    width: 412px;
    overflow-x: auto;
}
.box{
    min-width: 109px;
    height: 183px;
    flex-shrink: 0;
    border: 1px solid rgba(128, 128, 128, 0.451);
    padding: 5px 3px;
    align-items: center;
    margin-right: 10px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: var(--laranja);
}

.salgados h3{
    position: absolute;
    left: 18px;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.636);

}
h4{
    padding: 5px 10px;
    font-size: 20px;
    text-align-last: center;
    font-weight: bolder;
    color: var(--amarelo);
}
p{
    padding: 0px 10px;
    font-size: 16px;
    color: white;
}
h6{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bolder;
    color: white;
}

/*-----------------------Bebidas-----------------------------*/
.bebidas{
    display: flex;
    margin: 17px 10px;
    width: 412px;
    overflow-x: auto;
}
.bebidas h3{
    position: absolute;
    top: 228px;
    left: 18px;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.636);
}

/*-----------------------Sobremesa-----------------------------*/

.doces{
    display: flex;
    margin: 17px 10px;
    width: 412px;
    overflow-x: auto;
}
.doces h3{
    position: absolute;
    top: 464px;
    left: 18px;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.636);
}

/*-----------------------Footer-----------------------------*/

footer{
    width: 100%;
    height: 82px;
    flex-shrink: 0;
    background-color: var(--laranja);
    top: 967px;
    text-align: center;
    position: fixed;
    left: 0;
    
}
footer button{
    width: 189px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--amarelo);
    color: white;
    border: none;
    position: absolute;
    left: 52px;
    top: 21px;
    padding: 5px 10px;
    font-size: 15px;
}
